body {
    font-family: 'Times New Roman', Times, serif;
    nav {
        z-index: 999;
        background-color: white;
        padding: 20px;
        .navbar-brand {
            background-color: transparent !important;
            padding: 15px !important;
            border: 1px solid black !important;
            letter-spacing: 3px !important;   
        }
    }
    
    section {
        margin: 60px 0px;
    }
    
    // sec1
    
    .sec1 {
        margin-top: 200px;
        span {
            font-style: italic;
            font-size: 80px;
            line-height: 90px;
        }
        .row {
            .col {
                img {
                    width: 100%;
                }
            }
        }
    }
    footer {
        margin-top: 100px;
        padding: 25px 0px;
        background-color: rgb(39, 39, 39);
        span {
            color: white;
            font-style: italic;
            font-size: 45px;
        }
        p {
            font-family: sans-serif;
            line-height: 2;
            font-size: 18px;
            margin-top: 6px;
        }
        ul {
            display: flex;
            margin-top: 100px;
            li {
                display: inline-block;
                margin: 5px;
                svg {
                    width: 20px;
                }
            }
        }
    }
}